{% extends "layout.html" %}

{% block content %}
    <div class="w-50 p-3  bottom-50 end-50">
        <ul class="list-group">
                <a class="btn btn-secondary mb-3" href="{% url 'add' %}" role="button"> Ajouter une tache</a>
                {% for task in tasks %}
                    <div class="container">
                        <li class="list-group-item"><strong>{{ task.title }}</strong></li>
                        <p class="list-group-item">{{ task.description }}</p>
                        <div>
                            <a class="btn btn-primary mb-3 w-50" href="{% url 'update' task.id %}" role="button">Modifier</a>
                            <a class="btn btn-danger mb-2 w-50" href="{% url 'delete' task.id %}" role="button">Supprimer</a>
                        </div>
                    </div>

                {% empty %} 
                    <li class="list-group-item">No tasks yet!!</li> 
                {% endfor %}
        </ul>
    </div>
{% endblock %}